# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [1]:
import pandas as pd

## Regression Model Evaluation

In [2]:
from sklearn.datasets import load_boston

data = load_boston()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=['MEDV'])

data = pd.concat([X, y], axis=1)

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [4]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [5]:
from sklearn.model_selection import train_test_split
medv = data.MEDV
df = data.drop('MEDV', axis=1)
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [7]:
X = df
y = medv

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [11]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
train = linreg.fit(X_train, y_train)
pred1 = linreg.predict(X_test)
pred_train = linreg.predict(X_train)

## 3. Calculate and print R-squared for both the training and the testing set.

In [12]:
from sklearn.metrics import r2_score

In [14]:
true_test = r2_score(y_test, pred1)
true_train = r2_score(y_train, pred_train)

In [16]:
print(f'r2 of test is: {true_test}', '\n', f'r2 of train is: {true_train}')

r2 of test is: 0.7375758914245816
 r2 of train is: 0.7398388909596674

## 4. Calculate and print mean squared error for both the training and the testing set.

In [17]:
from sklearn.metrics import mean_squared_error
true_test_mse = mean_squared_error(y_test, pred1)
true_train_mse = mean_squared_error(y_train, pred_train)

In [19]:
print(f'mse of test is: {true_test_mse}', '\n', f'mse of train is: {true_train_mse}')

mse of test is: 21.96282797672693
 mse of train is: 22.008468272592026

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [20]:
from sklearn.metrics import mean_absolute_error
true_test_mae = mean_absolute_error(y_test, pred1)
true_train_mae = mean_absolute_error(y_train, pred_train)
print(f'mae of test is: {true_test_mae}', '\n', f'mae of train is: {true_train_mae}')

mae of test is: 3.4434641431671342
 mae of train is: 3.221449622330567

## Classification Model Evaluation

In [21]:
from sklearn.datasets import load_iris

data = load_iris()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=["class"])

data = pd.concat([X, y], axis=1)

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [22]:
data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

In [26]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
train = logreg.fit(X_train, y_train)
pred1 = logreg.predict(X_test)
pred_train = logreg.predict(X_train)

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

## 8. Calculate and print the accuracy score for both the training and the testing set.

In [27]:
from sklearn.metrics import accuracy_score
true_test_acc = accuracy_score(y_test, pred1)
true_train_acc = accuracy_score(y_train, pred_train)
print(f'acc of test is: {true_test_acc}', '\n', f'acc of train is: {true_train_acc}')

acc of test is: 0.9473684210526315
 acc of train is: 0.9732142857142857

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

In [28]:
from sklearn.metrics import balanced_accuracy_score
true_test_bal = balanced_accuracy_score(y_test, pred1)
true_train_bal = balanced_accuracy_score(y_train, pred_train)
print(f'bas of test is: {true_test_bal}', '\n', f'bas of train is: {true_train_bal}')

bas of test is: 0.9487179487179488
 bas of train is: 0.9729729729729729

## 10. Calculate and print the precision score for both the training and the testing set.

In [31]:
from sklearn.metrics import precision_score
true_test_ps = precision_score(y_test, pred1, average=None)
true_train_ps = precision_score(y_train, pred_train, average=None)
print(f'ps of test is: {true_test_ps}', '\n', f'ps of train is: {true_train_ps}')

ps of test is: [1.         1.         0.84615385]
 ps of train is: [1.         1.         0.92857143]

## 11. Calculate and print the recall score for both the training and the testing set.

In [33]:
from sklearn.metrics import recall_score
true_test_rec = recall_score(y_test, pred1, average=None)
true_train_rec = recall_score(y_train, pred_train, average=None)
print(f'rec of test is: {true_test_rec}', '\n', f'rec of train is: {true_train_rec}')

rec of test is: [1.         0.84615385 1.        ]
 rec of train is: [1.         0.91891892 1.        ]

## 12. Calculate and print the F1 score for both the training and the testing set.

In [34]:
from sklearn.metrics import f1_score
true_test_f1 = f1_score(y_test, pred1, average=None)
true_train_f1 = f1_score(y_train, pred_train, average=None)
print(f'f1s of test is: {true_test_f1}', '\n', f'f1s of train is: {true_train_f1}')

f1s of test is: [1.         0.91666667 0.91666667]
 f1s of train is: [1.         0.95774648 0.96296296]

## 13. Generate confusion matrices for both the training and the testing set.

In [35]:
from sklearn.metrics import confusion_matrix
true_test_con = confusion_matrix(y_test, pred1)
true_train_con = confusion_matrix(y_train, pred_train)
print(f'conmat of test is: {true_test_con}', '\n', f'conmat of train is: {true_train_con}')

conmat of test is: [[14  0  0]
 [ 0 11  2]
 [ 0  0 11]]
 conmat of train is: [[36  0  0]
 [ 0 34  3]
 [ 0  0 39]]

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.